In [1]:
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import csv
import numpy as np

# Load the iris dataset
df = pd.read_csv('/content/car_price_prediction.csv')
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6,Automatic,4x4,4-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000,6,Tiptronic,4x4,4-May,Left wheel,Black,8
2,45774419,8467,0,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4,Variator,Front,4-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966,4,Automatic,4x4,4-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4,Automatic,Front,4-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,0,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0,300000,4,Manual,Rear,2-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600,4,Tiptronic,Front,4-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2.0,116365,4,Automatic,Front,4-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2.0,51258,4,Automatic,Front,4-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923,4,Automatic,Front,4-May,Left wheel,White,12

In [2]:
X = df.drop(['Price','ID'] , axis = 1)
X

,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6,Automatic,4x4,4-May,Left wheel,Silver,12
1,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000,6,Tiptronic,4x4,4-May,Left wheel,Black,8
2,0,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4,Variator,Front,4-May,Right-hand drive,Black,2
3,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966,4,Automatic,4x4,4-May,Left wheel,White,0
4,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4,Automatic,Front,4-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,0,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0,300000,4,Manual,Rear,2-Mar,Left wheel,Silver,5
19233,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600,4,Tiptronic,Front,4-May,Left wheel,Red,8
19234,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2.0,116365,4,Automatic,Front,4-May,Left wheel,Grey,4
19235,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2.0,51258,4,Automatic,Front,4-May,Left wheel,Black,4
19236,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923,4,Automatic,Front,4-May,Left wheel,White,12

In [3]:
X['Manufacturer'].unique()
X['Model'].unique()
X['Category'].unique()
X['Leather interior'].unique()
X['Fuel type'].unique()
X['Gear box type'].unique()
X['Drive wheels'].unique()
X['Doors'].unique()
X['Wheel'].unique()
X['Color'].unique()
X['Engine volume'].unique()

array([ 3.5,  3. ,  1.3,  2.5,  2. ,  1.8,  2.4,  4. ,  1.6,  3.3,  2.2,
        4.7,  1.5,  4.4,  1.4,  3.6,  2.3,  5.5,  2.8,  3.2,  3.8,  4.6,
        1.2,  5. ,  1.7,  2.9,  0.5,  1.9,  2.7,  4.8,  5.3,  0.4,  1.1,
        2.1,  0.7,  5.4,  3.7,  1. ,  2.6,  0.8,  0.2,  5.7,  6.7,  6.2,
        3.4,  6.3,  4.3,  4.2,  0. , 20. ,  0.3,  5.9,  5.6,  6. ,  0.6,
        6.8,  4.5,  7.3,  0.1,  3.1,  6.4,  3.9,  0.9,  5.2,  5.8])

In [4]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

X['Manufacturer']= label_encoder.fit_transform(X['Manufacturer'])
X['Model']= label_encoder.fit_transform(X['Model'])
X['Category']= label_encoder.fit_transform(X['Category'])
X['Leather interior']= label_encoder.fit_transform(X['Leather interior'])
X['Fuel type']= label_encoder.fit_transform(X['Fuel type'])
X['Gear box type']= label_encoder.fit_transform(X['Gear box type'])
X['Drive wheels']= label_encoder.fit_transform(X['Drive wheels'])
X['Doors']= label_encoder.fit_transform(X['Doors'])
X['Wheel']= label_encoder.fit_transform(X['Wheel'])
X['Color']= label_encoder.fit_transform(X['Color'])
X['Engine volume']= label_encoder.fit_transform(X['Engine volume'])



y = np.array(df['Price'])
X

,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,1399,32,1236,2010,4,1,2,35,186005,6,0,0,1,0,12,12
1,1018,8,654,2011,4,0,5,30,192000,6,2,0,1,0,1,8
2,0,21,680,2006,3,0,5,13,200000,4,3,1,1,1,1,2
3,862,16,657,2011,4,1,2,25,168966,4,0,0,1,0,14,0
4,446,21,680,2014,3,1,5,13,91901,4,0,1,1,0,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,0,36,382,1999,1,1,0,20,300000,4,1,2,0,0,12,5
19233,831,23,1328,2011,9,1,5,24,161600,4,2,1,1,0,11,8
19234,836,23,1436,2010,4,1,1,20,116365,4,0,1,1,0,7,4
19235,1288,8,453,2007,4,1,1,20,51258,4,0,1,1,0,1,4
19236,753,23,1328,2012,9,1,2,24,186923,4,0,1,1,0,14,12

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Define the SVM classifier with specific parameters
svm = SVC(C=1.0, kernel='rbf', degree=3, gamma='scale', coef0=0.0, shrinking=True, probability=False, tol=0.001, cache_size=200, class_weight=None, verbose=False, max_iter=-1, decision_function_shape='ovr', break_ties=False, random_state=None)

# Train the SVM classifier on the training set
svm.fit(X_train, y_train)

# Predict the labels of the testing set using the trained SVM classifier
y_pred = svm.predict(X_test)

# Calculate the accuracy score of the SVM classifier on the testing set
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy:", accuracy)